.env
**/node_modules/
**/dist/
**/*.tsbuildinfo
**/.expo/
data/*
!data/.gitkeep
!data/files/
data/files/*
!data/files/.gitkeep
!data/logs/
data/logs/*
!data/logs/.gitkeep
!data/postgresql/
data/postgresql/*
coverage/
data/
